name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.inputs.commit }}
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
      - name: Install
        run: pnpm install
      - name: Build & Test
        run: ./scripts/test-all.sh
      - name: Test sdk-bundle
        run: |
          pnpm --filter "@sentio/sdk" build:bundle
          pnpm --filter "@sentio/sdk" bundle:dts
          pnpm --filter "./packages/*" --filter "./examples/*" test
